.btn-default {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 144px;
    height: 40px;
    padding: 12px 24px;
    background: #40BF6A;
    border-radius: 4px;
    border: none;
    color: white;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
}

.btn-default:hover {
    background: #61D186;
}

.btn-default:active {
    background: #2E9E53;
}

.btn-lined {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 144px;
    height: 40px;
    border: 1px solid #40BF6A;
    padding: 12px 24px;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: white;
    color: #40BF6A;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
}

.btn-lined:hover {
    border: 1px solid #61D186;
    background: #61D186;
    color: white;
}

.btn-lined:active {
    background: #2E9E53;
    color: white;
}

.btn-dark {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 144px;
    height: 40px;
    padding: 12px 24px;
    background: #3C3F54;
    border-radius: 4px;
    border: none;
    color: white;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
}

.btn-dark:hover {
    background: #525673;
}

.btn-dark:active {
    background: #242638;
}

.btn-default-small {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 144px;
    height: 30px;
    padding: 12px 24px;
    background: #40BF6A;
    border-radius: 4px;
    border: none;
    color: white;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
}

.btn-default-small:hover {
    background: #61D186;
}

.btn-default-small:active {
    background: #2E9E53;
}

.btn-lined-small {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 144px;
    height: 30px;
    border: 1px solid #40BF6A;
    padding: 12px 24px;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: white;
    color: #40BF6A;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
}

.btn-lined-small:hover {
    border: 1px solid #61D186;
    background: #61D186;
    color: white;
}

.btn-lined-small:active {
    background: #2E9E53;
    color: white;
}

.btn-dark-small {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 144px;
    height: 30px;
    padding: 12px 24px;
    background: #3C3F54;
    border-radius: 4px;
    border: none;
    color: white;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
}

.btn-dark-small:hover {
    background: #525673;
}

.btn-dark-small:active {
    background: #242638;
}

.btn-rounded {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px 17px;
    width: auto;
    height: 23px;
    background: #FFFFFF;
    border: 1px solid #40BF6A;
    box-sizing: border-box;
    border-radius: 12px;
    font-weight: 600;
    font-size: 12px;
    line-height: 19px;
    color: #40BF6A;
}

.btn-rounded:hover {
    background: #61D186;
    border: 1px solid #61D186;
    text-decoration: underline;
    color: white;
}

.btn-rounded:active {
    background: #2E9E53;
    border: 1px solid #2E9E53;
    text-decoration: underline;
    color: white;
}